ol li {
  background-color: yellow;
}

ol li:nth-of-type(even) {
  color: green;
}
ol li:nth-of-type(odd) {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: red;
}

h1 em,
h2 em,
h3 em {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

li em {
  font-weight: 900;
}

.languages li:nth-child(-n + 3) {
  color: blue;
}

.java {
  background-color: pink;
}

.aliados a:hover {
  font-weight: 800;
}

.aliados a[href="https://pt.stackoverflow.com/"]:hover
{
  color: orange;
}

.aliados a[href="https://www.w3schools.com/"]:hover
{
  color: green;
}

.aliados a[href="https://developer.mozilla.org/pt-BR/"]:hover
{
  color: black;
}
.aliados a[href="https://devdocs.io/"]:hover
{
  color: yellow;
}
.aliados a[href="https://app.betrybe.com/"]:hover
{
  color: green;
}
